@model IEnumerable<Enderecos>

@{
    ViewBag.Title = "Endereços";
}

<h2>Endereços</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Adicionar Novo Endereço</a>
    <a href="@Url.Action("ExportCsv")" class="btn btn-secondary">Exportar para CSV</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Número</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enderecos in Model)
        {
            <tr>
                <td>@enderecos.Cep</td>
                <td>@enderecos.Logradouro</td>
                <td>@enderecos.Complemento</td>
                <td>@enderecos.Bairro</td>
                <td>@enderecos.Cidade</td>
                <td>@enderecos.Uf</td>
                <td>@enderecos.Numero</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = enderecos.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", new { id = enderecos.Id })" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
